absl-py
altgraph
antlr4-python3-runtime
appdirs
asttokens
backcall
black
Bottleneck
cachetools
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
decorator
dill
executing
flit_core
fonttools
future
fvcore
google-auth
google-auth-oauthlib
grpcio
hydra-core
idna
importlib-metadata
importlib-resources
imutils
iopath
ipython
jedi
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
numexpr
numpy
oauthlib
omegaconf
opencv-python
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
ply
portalocker
prompt-toolkit
protobuf
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycocotools
pydot
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQtChart
PyQtWebEngine
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
scipy
sip
six
stack-data
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
toml
torchaudio
torchvision
tqdm
traitlets
typing_extensions
urllib3
wcwidth
webcolors
Werkzeug
yacs
zipp
